/**
 * CSS for the SEO Repair Kit Settings submenu page.
 */

.seo-repair-kit-settings-background {
  margin: 0 auto;
  width: 30%;
  background: linear-gradient(to right, #e0e0e0, #f0f0f0);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}

.seo-repair-kit-settings-post-type {
  color: #0b1d51;
  margin: 0 0 15px 0;
}

.srk-settings-page-title {
  color: #0b1d51;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin: 40px;
}

.srk-settings-button {
  margin-top: 15px;
  background-color: #0b1d51;
  color: #fff;
  padding: 12px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.srk-settings-button:hover {
  background-color: #f28500;
  color: #fff;
}
